<a href="https://colab.research.google.com/github/Miguellito02/Atividade_python/blob/main/Exerc%C3%ADcio_Dicion%C3%A1rio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1. Criação de Dicionário

In [ ]:
filme = {
    "titulo" : "Como Treinar seu dragão",
    "Diretor" : "Dean DeBlois",
    "ano": 2010,
    "genero": "animação"
}
filme

{'titulo': 'Como Treinar seu dragão',
 'Diretor': 'Dean DeBlois',
 'ano': 2010,
 'genero': 'animação'}

##2. Acesso Seguro

In [ ]:
filme["classificação"] = "Não Definido"
filme.get("classificação")

'Não Definido'

##3. Atualização de Dados

In [ ]:
filme["ano"] = "2024"
filme.get("ano")

filme["Duração"] = "98 Minutos"
filme.get("Duração")

print(filme)

##4. Remoção de Chave

In [ ]:
del filme ["genero"]
print(filme)

{'titulo': 'Como Treinar seu dragão', 'Diretor': 'Dean DeBlois', 'ano': 2010, 'classificação': 'Não Definido'}

##5. Iteração Simples

In [ ]:
dados = {
    "Japão": "Tokyo",
    "USA": "Washington",
    "Italia": "Roma"
}

for pais, capital in dados.items():
    print(f"O país {pais} tem como capital {capital}")

O país Japão tem como capital Tokyo
O país USA tem como capital Washington
O país Italia tem como capital Roma

##6. Chaves, Valores e Itens

In [ ]:
dados = {
  "Japão":"Tokyo",
  "USA":"Washington",
  "Italia":"Roma"
}


for chaves in dados.values():
  print(chaves)

Tokyo
Washington
Roma

In [ ]:
for chave, valores in dados.items():
  print(chave +":"+ valores)

Japão:Tokyo
USA:Washington
Italia:Roma

7. Lista de Dicionários

In [ ]:
alunos = [
    {"nome":"Gabriel","nota":4},
    {"nome":"Miguel","nota":7},
    {"nome":"Kevin","nota":5}
]

for aluno in alunos:
    if aluno["nota"] >= 7:
        print(aluno["nome"],":", aluno["nota"])

8. Cadastro de Produtos

In [ ]:
produtos = {}

for i in range(5):
    nome = input("Digite o nome de um produto: ")
    preco = float(input(f"Digite o preço de {nome}: "))
    produtos[nome] = preco

print("--------Produtos cadastrados--------:")
for nome, preco in produtos.items():
    print(f"{nome} R$ {preco}")

9. Contagem de Frequência

In [ ]:
texto = 'banana maçã banana laranja maçã banana'
palavras = texto.split()

frequencia = {}
for fruta in palavras:
    if fruta in frequencia:
        frequencia[fruta] += 1
    else:
        frequencia[fruta] = 1

print(frequencia)

{'banana': 3, 'maçã': 2, 'laranja': 1}

10. Desafio Extra

In [ ]:
cadastro = {}


while True:
  print("-------Menu-------: ")
  print("1- Acrescentar Nome & Contato")
  print("2 - Sair")

  escolha = input("Escolha uma opção:")

  if escolha == "1":
    user = input("Digite um nome: ")
    phone = input(f'Digite o telefone de {user}')
    cadastro[user] = phone


  elif escolha == "2":
    print("Saindo..")
    break


  else:
    print("Opção inválida")


print(cadastro)